.standard-note-section{
    /*margin: 2rem 1rem;*/

    /*padding: 0.5rem 0.3rem;*/
    /*width: auto;*/
    justify-items: center;
    /*border: 2px solid var(--dark);*/
}

.note-section-title{
    background-color: transparent;
    /*width: 12rem;*/

    padding: 0.5rem 1rem;
    margin: 0.2rem 0;
    border: none;
    color: var(--text);
    font-weight: bold;
}

.note-section-title-container{
    display: flex;
    flex-direction: row;
    background-color: var(--darkprimary);
    /*width: 14rem;*/
    border-radius: 0.5rem;
    margin-bottom: 2px;
    justify-content: space-between;
}

.note-section-title::placeholder{
    font-weight: bold;
    color: var(--text);
}

.note-section-title:focus{
    /*cursor;*/
    color: var(--text);
    font-weight: bold;
}

.note-section-note{
    background-color: var(--primary);
    width: 100%;
    border-radius: 0.8rem;

    padding: 0 0;
    padding-left: 0.4rem;
    padding-right: 1rem;
    border: none;
    resize: none;
    overflow-y: hidden;
    line-height: 1.5em;
    color: var(--text)
}

.note-section-container{
    background-color: var(--primary);
    border-radius: 0.8rem;
    padding: 0.5rem 0.2rem;
    width: 16rem;
    margin: 0.1rem 0;
    gap: 2px;
    justify-content: space-between;
}


.note-section-note::placeholder{
    color: var(--text);
    border: none;
}

.note-section-note:focus{
    color: var(--text);
    border: none;
    outline: none;
}


